[user]
	email = wxie@cs.utexas.edu
	name = William Xie
[core]
	editor = vim
[push]
	default = simple
[filter "lfs"]
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
