<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AllowClipboardAccess</key>
	<true/>
	<key>AlternateMouseScroll</key>
	<true/>
	<key>ClosingTmuxTabKillsTmuxWindows</key>
	<true/>
	<key>ClosingTmuxTabKillsTmuxWindows_selection</key>
	<integer>1</integer>
	<key>Custom Color Presets</key>
	<dict>
		<key>Dracula</key>
		<dict>
			<key>Ansi 0 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.0</real>
				<key>Green Component</key>
				<real>0.0</real>
				<key>Red Component</key>
				<real>0.0</real>
			</dict>
			<key>Ansi 1 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.3333333432674408</real>
				<key>Green Component</key>
				<real>0.3333333432674408</real>
				<key>Red Component</key>
				<real>1</real>
			</dict>
			<key>Ansi 10 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.4823529411764706</real>
				<key>Green Component</key>
				<real>0.98039215686274506</real>
				<key>Red Component</key>
				<real>0.31372549019607843</real>
			</dict>
			<key>Ansi 11 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.5490196078431373</real>
				<key>Green Component</key>
				<real>0.98039215686274506</real>
				<key>Red Component</key>
				<real>0.94509803921568625</real>
			</dict>
			<key>Ansi 12 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.97647058823529409</real>
				<key>Green Component</key>
				<real>0.57647058823529407</real>
				<key>Red Component</key>
				<real>0.74117647058823533</real>
			</dict>
			<key>Ansi 13 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.77647058823529413</real>
				<key>Green Component</key>
				<real>0.47450980392156861</real>
				<key>Red Component</key>
				<real>1</real>
			</dict>
			<key>Ansi 14 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.99215686274509807</real>
				<key>Green Component</key>
				<real>0.9137254901960784</real>
				<key>Red Component</key>
				<real>0.54509803921568623</real>
			</dict>
			<key>Ansi 15 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>1</real>
				<key>Green Component</key>
				<real>1</real>
				<key>Red Component</key>
				<real>1</real>
			</dict>
			<key>Ansi 2 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.4823529411764706</real>
				<key>Green Component</key>
				<real>0.98039215686274506</real>
				<key>Red Component</key>
				<real>0.31372549019607843</real>
			</dict>
			<key>Ansi 3 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.5490196078431373</real>
				<key>Green Component</key>
				<real>0.98039215686274506</real>
				<key>Red Component</key>
				<real>0.94509803921568625</real>
			</dict>
			<key>Ansi 4 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.97647058823529409</real>
				<key>Green Component</key>
				<real>0.57647058823529407</real>
				<key>Red Component</key>
				<real>0.74117647058823533</real>
			</dict>
			<key>Ansi 5 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.77647058823529413</real>
				<key>Green Component</key>
				<real>0.47450980392156861</real>
				<key>Red Component</key>
				<real>1</real>
			</dict>
			<key>Ansi 6 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.99215686274509807</real>
				<key>Green Component</key>
				<real>0.9137254901960784</real>
				<key>Red Component</key>
				<real>0.54509803921568623</real>
			</dict>
			<key>Ansi 7 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.73333334922790527</real>
				<key>Green Component</key>
				<real>0.73333334922790527</real>
				<key>Red Component</key>
				<real>0.73333334922790527</real>
			</dict>
			<key>Ansi 8 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.33333333333333331</real>
				<key>Green Component</key>
				<real>0.33333333333333331</real>
				<key>Red Component</key>
				<real>0.33333333333333331</real>
			</dict>
			<key>Ansi 9 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.33333333333333331</real>
				<key>Green Component</key>
				<real>0.33333333333333331</real>
				<key>Red Component</key>
				<real>1</real>
			</dict>
			<key>Background Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.15977837145328522</real>
				<key>Green Component</key>
				<real>0.12215272337198257</real>
				<key>Red Component</key>
				<real>0.11765811592340469</real>
			</dict>
			<key>Bold Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.90237069129943848</real>
				<key>Green Component</key>
				<real>0.90237069129943848</real>
				<key>Red Component</key>
				<real>0.90237069129943848</real>
			</dict>
			<key>Cursor Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.73333334922790527</real>
				<key>Green Component</key>
				<real>0.73333334922790527</real>
				<key>Red Component</key>
				<real>0.73333334922790527</real>
			</dict>
			<key>Cursor Text Color</key>
			<dict>
				<key>Blue Component</key>
				<real>1</real>
				<key>Green Component</key>
				<real>1</real>
				<key>Red Component</key>
				<real>1</real>
			</dict>
			<key>Foreground Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.90032327175140381</real>
				<key>Green Component</key>
				<real>0.90032327175140381</real>
				<key>Red Component</key>
				<real>0.90032327175140381</real>
			</dict>
			<key>Selected Text Color</key>
			<dict>
				<key>Blue Component</key>
				<real>1</real>
				<key>Green Component</key>
				<real>1</real>
				<key>Red Component</key>
				<real>1</real>
			</dict>
			<key>Selection Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.35294118523597717</real>
				<key>Green Component</key>
				<real>0.27843138575553894</real>
				<key>Red Component</key>
				<real>0.26666668057441711</real>
			</dict>
		</dict>
		<key>railcasts</key>
		<dict>
			<key>Ansi 0 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.16862745098039217</real>
				<key>Color Space</key>
				<string>sRGB</string>
				<key>Green Component</key>
				<real>0.16862745098039217</real>
				<key>Red Component</key>
				<real>0.16862745098039217</real>
			</dict>
			<key>Ansi 1 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.22352941176470589</real>
				<key>Color Space</key>
				<string>sRGB</string>
				<key>Green Component</key>
				<real>0.28627450980392155</real>
				<key>Red Component</key>
				<real>0.85490196078431369</real>
			</dict>
			<key>Ansi 10 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.38039215686274508</real>
				<key>Color Space</key>
				<string>sRGB</string>
				<key>Green Component</key>
				<real>0.76078431372549016</real>
				<key>Red Component</key>
				<real>0.6470588235294118</real>
			</dict>
			<key>Ansi 11 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.42745098039215684</real>
				<key>Color Space</key>
				<string>sRGB</string>
				<key>Green Component</key>
				<real>0.77647058823529413</real>
				<key>Red Component</key>
				<real>1</real>
			</dict>
			<key>Ansi 12 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.74509803921568629</real>
				<key>Color Space</key>
				<string>sRGB</string>
				<key>Green Component</key>
				<real>0.61176470588235299</real>
				<key>Red Component</key>
				<real>0.42745098039215684</real>
			</dict>
			<key>Ansi 13 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.92156862745098034</real>
				<key>Color Space</key>
				<string>sRGB</string>
				<key>Green Component</key>
				<real>0.70196078431372544</real>
				<key>Red Component</key>
				<real>0.71372549019607845</real>
			</dict>
			<key>Ansi 14 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.31372549019607843</real>
				<key>Color Space</key>
				<string>sRGB</string>
				<key>Green Component</key>
				<real>0.62352941176470589</real>
				<key>Red Component</key>
				<real>0.31764705882352939</real>
			</dict>
			<key>Ansi 15 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.95294117647058818</real>
				<key>Color Space</key>
				<string>sRGB</string>
				<key>Green Component</key>
				<real>0.96862745098039216</real>
				<key>Red Component</key>
				<real>0.97647058823529409</real>
			</dict>
			<key>Ansi 2 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.38039215686274508</real>
				<key>Color Space</key>
				<string>sRGB</string>
				<key>Green Component</key>
				<real>0.76078431372549016</real>
				<key>Red Component</key>
				<real>0.6470588235294118</real>
			</dict>
			<key>Ansi 3 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.42745098039215684</real>
				<key>Color Space</key>
				<string>sRGB</string>
				<key>Green Component</key>
				<real>0.77647058823529413</real>
				<key>Red Component</key>
				<real>1</real>
			</dict>
			<key>Ansi 4 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.74509803921568629</real>
				<key>Color Space</key>
				<string>sRGB</string>
				<key>Green Component</key>
				<real>0.61176470588235299</real>
				<key>Red Component</key>
				<real>0.42745098039215684</real>
			</dict>
			<key>Ansi 5 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.92156862745098034</real>
				<key>Color Space</key>
				<string>sRGB</string>
				<key>Green Component</key>
				<real>0.70196078431372544</real>
				<key>Red Component</key>
				<real>0.71372549019607845</real>
			</dict>
			<key>Ansi 6 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.31372549019607843</real>
				<key>Color Space</key>
				<string>sRGB</string>
				<key>Green Component</key>
				<real>0.62352941176470589</real>
				<key>Red Component</key>
				<real>0.31764705882352939</real>
			</dict>
			<key>Ansi 7 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.86274509803921573</real>
				<key>Color Space</key>
				<string>sRGB</string>
				<key>Green Component</key>
				<real>0.88235294117647056</real>
				<key>Red Component</key>
				<real>0.90196078431372551</real>
			</dict>
			<key>Ansi 8 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.49411764705882355</real>
				<key>Color Space</key>
				<string>sRGB</string>
				<key>Green Component</key>
				<real>0.39215686274509803</real>
				<key>Red Component</key>
				<real>0.35294117647058826</real>
			</dict>
			<key>Ansi 9 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.22352941176470589</real>
				<key>Color Space</key>
				<string>sRGB</string>
				<key>Green Component</key>
				<real>0.28627450980392155</real>
				<key>Red Component</key>
				<real>0.85490196078431369</real>
			</dict>
			<key>Background Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.16862745098039217</real>
				<key>Color Space</key>
				<string>sRGB</string>
				<key>Green Component</key>
				<real>0.16862745098039217</real>
				<key>Red Component</key>
				<real>0.16862745098039217</real>
			</dict>
			<key>Bold Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.86274509803921573</real>
				<key>Color Space</key>
				<string>sRGB</string>
				<key>Green Component</key>
				<real>0.88235294117647056</real>
				<key>Red Component</key>
				<real>0.90196078431372551</real>
			</dict>
			<key>Cursor Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.86274509803921573</real>
				<key>Color Space</key>
				<string>sRGB</string>
				<key>Green Component</key>
				<real>0.88235294117647056</real>
				<key>Red Component</key>
				<real>0.90196078431372551</real>
			</dict>
			<key>Cursor Text Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.16862745098039217</real>
				<key>Color Space</key>
				<string>sRGB</string>
				<key>Green Component</key>
				<real>0.16862745098039217</real>
				<key>Red Component</key>
				<real>0.16862745098039217</real>
			</dict>
			<key>Foreground Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.86274509803921573</real>
				<key>Color Space</key>
				<string>sRGB</string>
				<key>Green Component</key>
				<real>0.88235294117647056</real>
				<key>Red Component</key>
				<real>0.90196078431372551</real>
			</dict>
			<key>Selected Text Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.86274509803921573</real>
				<key>Color Space</key>
				<string>sRGB</string>
				<key>Green Component</key>
				<real>0.88235294117647056</real>
				<key>Red Component</key>
				<real>0.90196078431372551</real>
			</dict>
			<key>Selection Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.33333333333333331</real>
				<key>Color Space</key>
				<string>sRGB</string>
				<key>Green Component</key>
				<real>0.25098039215686274</real>
				<key>Red Component</key>
				<real>0.22745098039215686</real>
			</dict>
		</dict>
		<key>railcasts-256</key>
		<dict>
			<key>Ansi 0 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.16862745583057404</real>
				<key>Green Component</key>
				<real>0.16862745583057404</real>
				<key>Red Component</key>
				<real>0.16862745583057404</real>
			</dict>
			<key>Ansi 1 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.22352941334247589</real>
				<key>Green Component</key>
				<real>0.28627452254295349</real>
				<key>Red Component</key>
				<real>0.85490196943283081</real>
			</dict>
			<key>Ansi 10 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.25490196078431371</real>
				<key>Green Component</key>
				<real>0.70588235294117652</real>
				<key>Red Component</key>
				<real>0.10196078431372549</real>
			</dict>
			<key>Ansi 11 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.42745098471641541</real>
				<key>Green Component</key>
				<real>0.7764706015586853</real>
				<key>Red Component</key>
				<real>1</real>
			</dict>
			<key>Ansi 12 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.7450980544090271</real>
				<key>Green Component</key>
				<real>0.61176472902297974</real>
				<key>Red Component</key>
				<real>0.42745098471641541</real>
			</dict>
			<key>Ansi 13 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.92156863212585449</real>
				<key>Green Component</key>
				<real>0.70196080207824707</real>
				<key>Red Component</key>
				<real>0.7137255072593689</real>
			</dict>
			<key>Ansi 14 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.31372550129890442</real>
				<key>Green Component</key>
				<real>0.62352943420410156</real>
				<key>Red Component</key>
				<real>0.31764706969261169</real>
			</dict>
			<key>Ansi 15 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.9529411792755127</real>
				<key>Green Component</key>
				<real>0.9686274528503418</real>
				<key>Red Component</key>
				<real>0.97647058963775635</real>
			</dict>
			<key>Ansi 2 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.25490196078431371</real>
				<key>Green Component</key>
				<real>0.70588235294117652</real>
				<key>Red Component</key>
				<real>0.10196078431372549</real>
			</dict>
			<key>Ansi 3 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.42745098471641541</real>
				<key>Green Component</key>
				<real>0.7764706015586853</real>
				<key>Red Component</key>
				<real>1</real>
			</dict>
			<key>Ansi 4 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.7450980544090271</real>
				<key>Green Component</key>
				<real>0.61176472902297974</real>
				<key>Red Component</key>
				<real>0.42745098471641541</real>
			</dict>
			<key>Ansi 5 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.92156863212585449</real>
				<key>Green Component</key>
				<real>0.70196080207824707</real>
				<key>Red Component</key>
				<real>0.7137255072593689</real>
			</dict>
			<key>Ansi 6 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.31372550129890442</real>
				<key>Green Component</key>
				<real>0.62352943420410156</real>
				<key>Red Component</key>
				<real>0.31764706969261169</real>
			</dict>
			<key>Ansi 7 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.86274510622024536</real>
				<key>Green Component</key>
				<real>0.88235294818878174</real>
				<key>Red Component</key>
				<real>0.90196079015731812</real>
			</dict>
			<key>Ansi 8 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.49411764740943909</real>
				<key>Green Component</key>
				<real>0.39215686917304993</real>
				<key>Red Component</key>
				<real>0.35294118523597717</real>
			</dict>
			<key>Ansi 9 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.22352941334247589</real>
				<key>Green Component</key>
				<real>0.28627452254295349</real>
				<key>Red Component</key>
				<real>0.85490196943283081</real>
			</dict>
			<key>Background Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.045154630361148647</real>
				<key>Green Component</key>
				<real>0.045081568647206617</real>
				<key>Red Component</key>
				<real>0.045750473484848508</real>
			</dict>
			<key>Bold Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.86274510622024536</real>
				<key>Green Component</key>
				<real>0.88235294818878174</real>
				<key>Red Component</key>
				<real>0.90196079015731812</real>
			</dict>
			<key>Cursor Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.86274510622024536</real>
				<key>Green Component</key>
				<real>0.88235294818878174</real>
				<key>Red Component</key>
				<real>0.90196079015731812</real>
			</dict>
			<key>Cursor Text Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.16862745583057404</real>
				<key>Green Component</key>
				<real>0.16862745583057404</real>
				<key>Red Component</key>
				<real>0.16862745583057404</real>
			</dict>
			<key>Foreground Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.86274510622024536</real>
				<key>Green Component</key>
				<real>0.88235294818878174</real>
				<key>Red Component</key>
				<real>0.90196079015731812</real>
			</dict>
			<key>Selected Text Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.86274510622024536</real>
				<key>Green Component</key>
				<real>0.88235294818878174</real>
				<key>Red Component</key>
				<real>0.90196079015731812</real>
			</dict>
			<key>Selection Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.3333333432674408</real>
				<key>Green Component</key>
				<real>0.25098040699958801</real>
				<key>Red Component</key>
				<real>0.22745098173618317</real>
			</dict>
		</dict>
	</dict>
	<key>Default Bookmark Guid</key>
	<string>566E896F-48D1-4979-BB57-6CE6E14814CF</string>
	<key>HapticFeedbackForEsc</key>
	<false/>
	<key>HotkeyMigratedFromSingleToMulti</key>
	<true/>
	<key>IRMemory</key>
	<integer>4</integer>
	<key>New Bookmarks</key>
	<array>
		<dict>
			<key>ASCII Anti Aliased</key>
			<true/>
			<key>Ambiguous Double Width</key>
			<false/>
			<key>Ansi 0 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.16862745583057404</real>
				<key>Green Component</key>
				<real>0.16862745583057404</real>
				<key>Red Component</key>
				<real>0.16862745583057404</real>
			</dict>
			<key>Ansi 1 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.22352941334247589</real>
				<key>Green Component</key>
				<real>0.28627452254295349</real>
				<key>Red Component</key>
				<real>0.85490196943283081</real>
			</dict>
			<key>Ansi 10 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.25490196078431371</real>
				<key>Green Component</key>
				<real>0.70588235294117652</real>
				<key>Red Component</key>
				<real>0.10196078431372549</real>
			</dict>
			<key>Ansi 11 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.42745098471641541</real>
				<key>Green Component</key>
				<real>0.7764706015586853</real>
				<key>Red Component</key>
				<real>1</real>
			</dict>
			<key>Ansi 12 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.7450980544090271</real>
				<key>Green Component</key>
				<real>0.61176472902297974</real>
				<key>Red Component</key>
				<real>0.42745098471641541</real>
			</dict>
			<key>Ansi 13 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.92156863212585449</real>
				<key>Green Component</key>
				<real>0.70196080207824707</real>
				<key>Red Component</key>
				<real>0.7137255072593689</real>
			</dict>
			<key>Ansi 14 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.31372550129890442</real>
				<key>Green Component</key>
				<real>0.62352943420410156</real>
				<key>Red Component</key>
				<real>0.31764706969261169</real>
			</dict>
			<key>Ansi 15 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.9529411792755127</real>
				<key>Green Component</key>
				<real>0.9686274528503418</real>
				<key>Red Component</key>
				<real>0.97647058963775635</real>
			</dict>
			<key>Ansi 2 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.25490196078431371</real>
				<key>Green Component</key>
				<real>0.70588235294117652</real>
				<key>Red Component</key>
				<real>0.10196078431372549</real>
			</dict>
			<key>Ansi 3 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.42745098471641541</real>
				<key>Green Component</key>
				<real>0.7764706015586853</real>
				<key>Red Component</key>
				<real>1</real>
			</dict>
			<key>Ansi 4 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.7450980544090271</real>
				<key>Green Component</key>
				<real>0.61176472902297974</real>
				<key>Red Component</key>
				<real>0.42745098471641541</real>
			</dict>
			<key>Ansi 5 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.92156863212585449</real>
				<key>Green Component</key>
				<real>0.70196080207824707</real>
				<key>Red Component</key>
				<real>0.7137255072593689</real>
			</dict>
			<key>Ansi 6 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.31372550129890442</real>
				<key>Green Component</key>
				<real>0.62352943420410156</real>
				<key>Red Component</key>
				<real>0.31764706969261169</real>
			</dict>
			<key>Ansi 7 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.86274510622024536</real>
				<key>Green Component</key>
				<real>0.88235294818878174</real>
				<key>Red Component</key>
				<real>0.90196079015731812</real>
			</dict>
			<key>Ansi 8 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.49411764740943909</real>
				<key>Green Component</key>
				<real>0.39215686917304993</real>
				<key>Red Component</key>
				<real>0.35294118523597717</real>
			</dict>
			<key>Ansi 9 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.22352941334247589</real>
				<key>Green Component</key>
				<real>0.28627452254295349</real>
				<key>Red Component</key>
				<real>0.85490196943283081</real>
			</dict>
			<key>BM Growl</key>
			<true/>
			<key>Background Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>1</real>
				<key>Blue Component</key>
				<real>0.16862745098039217</real>
				<key>Color Space</key>
				<string>sRGB</string>
				<key>Green Component</key>
				<real>0.16862745098039217</real>
				<key>Red Component</key>
				<real>0.16862745098039217</real>
			</dict>
			<key>Background Image Location</key>
			<string></string>
			<key>Badge Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>0.5</real>
				<key>Blue Component</key>
				<real>0.0</real>
				<key>Color Space</key>
				<string>sRGB</string>
				<key>Green Component</key>
				<real>0.1491314172744751</real>
				<key>Red Component</key>
				<real>1</real>
			</dict>
			<key>Blinking Cursor</key>
			<true/>
			<key>Blur</key>
			<false/>
			<key>Bold Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.86274510622024536</real>
				<key>Green Component</key>
				<real>0.88235294818878174</real>
				<key>Red Component</key>
				<real>0.90196079015731812</real>
			</dict>
			<key>Character Encoding</key>
			<integer>4</integer>
			<key>Close Sessions On End</key>
			<true/>
			<key>Columns</key>
			<integer>127</integer>
			<key>Command</key>
			<string></string>
			<key>Cursor Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.86274510622024536</real>
				<key>Green Component</key>
				<real>0.88235294818878174</real>
				<key>Red Component</key>
				<real>0.90196079015731812</real>
			</dict>
			<key>Cursor Guide Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>0.25</real>
				<key>Blue Component</key>
				<real>1</real>
				<key>Color Space</key>
				<string>sRGB</string>
				<key>Green Component</key>
				<real>0.9268307089805603</real>
				<key>Red Component</key>
				<real>0.70213186740875244</real>
			</dict>
			<key>Cursor Text Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.16862745583057404</real>
				<key>Green Component</key>
				<real>0.16862745583057404</real>
				<key>Red Component</key>
				<real>0.16862745583057404</real>
			</dict>
			<key>Custom Command</key>
			<string>No</string>
			<key>Custom Directory</key>
			<string>No</string>
			<key>Default Bookmark</key>
			<string>No</string>
			<key>Description</key>
			<string>Default</string>
			<key>Disable Window Resizing</key>
			<true/>
			<key>Flashing Bell</key>
			<false/>
			<key>Foreground Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.86274510622024536</real>
				<key>Green Component</key>
				<real>0.88235294818878174</real>
				<key>Red Component</key>
				<real>0.90196079015731812</real>
			</dict>
			<key>Guid</key>
			<string>566E896F-48D1-4979-BB57-6CE6E14814CF</string>
			<key>Horizontal Spacing</key>
			<real>1</real>
			<key>Idle Code</key>
			<integer>0</integer>
			<key>Initial Text</key>
			<string></string>
			<key>Jobs to Ignore</key>
			<array>
				<string>rlogin</string>
				<string>slogin</string>
				<string>telnet</string>
			</array>
			<key>Keyboard Map</key>
			<dict>
				<key>0x7f-0x100000</key>
				<dict>
					<key>Action</key>
					<integer>11</integer>
					<key>Text</key>
					<string>0x15</string>
				</dict>
				<key>0x7f-0x80000</key>
				<dict>
					<key>Action</key>
					<integer>11</integer>
					<key>Text</key>
					<string>0x17</string>
				</dict>
			</dict>
			<key>Link Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>1</real>
				<key>Blue Component</key>
				<real>0.73423302173614502</real>
				<key>Color Space</key>
				<string>sRGB</string>
				<key>Green Component</key>
				<real>0.35916060209274292</real>
				<key>Red Component</key>
				<real>0.0</real>
			</dict>
			<key>Mouse Reporting</key>
			<true/>
			<key>Name</key>
			<string>wxie</string>
			<key>Non Ascii Font</key>
			<string>Monaco 12</string>
			<key>Non-ASCII Anti Aliased</key>
			<true/>
			<key>Normal Font</key>
			<string>MesloLGM-RegularForPowerline 14</string>
			<key>Option Key Sends</key>
			<integer>2</integer>
			<key>Prompt Before Closing 2</key>
			<integer>2</integer>
			<key>Right Option Key Sends</key>
			<integer>2</integer>
			<key>Rows</key>
			<integer>30</integer>
			<key>Screen</key>
			<integer>-1</integer>
			<key>Scrollback Lines</key>
			<integer>0</integer>
			<key>Selected Text Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.86274510622024536</real>
				<key>Green Component</key>
				<real>0.88235294818878174</real>
				<key>Red Component</key>
				<real>0.90196079015731812</real>
			</dict>
			<key>Selection Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.3333333432674408</real>
				<key>Green Component</key>
				<real>0.25098040699958801</real>
				<key>Red Component</key>
				<real>0.22745098173618317</real>
			</dict>
			<key>Send Code When Idle</key>
			<false/>
			<key>Shortcut</key>
			<string></string>
			<key>Silence Bell</key>
			<true/>
			<key>Sync Title</key>
			<false/>
			<key>Tags</key>
			<array/>
			<key>Terminal Type</key>
			<string>xterm-256color</string>
			<key>Transparency</key>
			<real>0.0</real>
			<key>Triggers</key>
			<array/>
			<key>Unlimited Scrollback</key>
			<true/>
			<key>Use Bold Font</key>
			<true/>
			<key>Use Bright Bold</key>
			<true/>
			<key>Use Italic Font</key>
			<true/>
			<key>Use Non-ASCII Font</key>
			<false/>
			<key>Vertical Spacing</key>
			<real>1</real>
			<key>Visual Bell</key>
			<true/>
			<key>Window Type</key>
			<integer>0</integer>
			<key>Working Directory</key>
			<string>/Users/wxie</string>
		</dict>
		<dict>
			<key>ASCII Anti Aliased</key>
			<true/>
			<key>Ambiguous Double Width</key>
			<false/>
			<key>Ansi 0 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.16862745583057404</real>
				<key>Green Component</key>
				<real>0.16862745583057404</real>
				<key>Red Component</key>
				<real>0.16862745583057404</real>
			</dict>
			<key>Ansi 1 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.22352941334247589</real>
				<key>Green Component</key>
				<real>0.28627452254295349</real>
				<key>Red Component</key>
				<real>0.85490196943283081</real>
			</dict>
			<key>Ansi 10 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.25490196078431371</real>
				<key>Green Component</key>
				<real>0.70588235294117652</real>
				<key>Red Component</key>
				<real>0.10196078431372549</real>
			</dict>
			<key>Ansi 11 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.42745098471641541</real>
				<key>Green Component</key>
				<real>0.7764706015586853</real>
				<key>Red Component</key>
				<real>1</real>
			</dict>
			<key>Ansi 12 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.7450980544090271</real>
				<key>Green Component</key>
				<real>0.61176472902297974</real>
				<key>Red Component</key>
				<real>0.42745098471641541</real>
			</dict>
			<key>Ansi 13 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.92156863212585449</real>
				<key>Green Component</key>
				<real>0.70196080207824707</real>
				<key>Red Component</key>
				<real>0.7137255072593689</real>
			</dict>
			<key>Ansi 14 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.31372550129890442</real>
				<key>Green Component</key>
				<real>0.62352943420410156</real>
				<key>Red Component</key>
				<real>0.31764706969261169</real>
			</dict>
			<key>Ansi 15 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.9529411792755127</real>
				<key>Green Component</key>
				<real>0.9686274528503418</real>
				<key>Red Component</key>
				<real>0.97647058963775635</real>
			</dict>
			<key>Ansi 2 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.25490196078431371</real>
				<key>Green Component</key>
				<real>0.70588235294117652</real>
				<key>Red Component</key>
				<real>0.10196078431372549</real>
			</dict>
			<key>Ansi 3 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.42745098471641541</real>
				<key>Green Component</key>
				<real>0.7764706015586853</real>
				<key>Red Component</key>
				<real>1</real>
			</dict>
			<key>Ansi 4 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.7450980544090271</real>
				<key>Green Component</key>
				<real>0.61176472902297974</real>
				<key>Red Component</key>
				<real>0.42745098471641541</real>
			</dict>
			<key>Ansi 5 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.92156863212585449</real>
				<key>Green Component</key>
				<real>0.70196080207824707</real>
				<key>Red Component</key>
				<real>0.7137255072593689</real>
			</dict>
			<key>Ansi 6 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.31372550129890442</real>
				<key>Green Component</key>
				<real>0.62352943420410156</real>
				<key>Red Component</key>
				<real>0.31764706969261169</real>
			</dict>
			<key>Ansi 7 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.86274510622024536</real>
				<key>Green Component</key>
				<real>0.88235294818878174</real>
				<key>Red Component</key>
				<real>0.90196079015731812</real>
			</dict>
			<key>Ansi 8 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.49411764740943909</real>
				<key>Green Component</key>
				<real>0.39215686917304993</real>
				<key>Red Component</key>
				<real>0.35294118523597717</real>
			</dict>
			<key>Ansi 9 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.22352941334247589</real>
				<key>Green Component</key>
				<real>0.28627452254295349</real>
				<key>Red Component</key>
				<real>0.85490196943283081</real>
			</dict>
			<key>BM Growl</key>
			<true/>
			<key>Background Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>1</real>
				<key>Blue Component</key>
				<real>0.16862745098039217</real>
				<key>Color Space</key>
				<string>sRGB</string>
				<key>Green Component</key>
				<real>0.16862745098039217</real>
				<key>Red Component</key>
				<real>0.16862745098039217</real>
			</dict>
			<key>Background Image Location</key>
			<string></string>
			<key>Badge Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>0.5</real>
				<key>Blue Component</key>
				<real>0.0</real>
				<key>Color Space</key>
				<string>sRGB</string>
				<key>Green Component</key>
				<real>0.1491314172744751</real>
				<key>Red Component</key>
				<real>1</real>
			</dict>
			<key>Blinking Cursor</key>
			<true/>
			<key>Blur</key>
			<false/>
			<key>Bold Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.86274510622024536</real>
				<key>Green Component</key>
				<real>0.88235294818878174</real>
				<key>Red Component</key>
				<real>0.90196079015731812</real>
			</dict>
			<key>Bound Hosts</key>
			<array/>
			<key>Character Encoding</key>
			<integer>4</integer>
			<key>Close Sessions On End</key>
			<true/>
			<key>Columns</key>
			<integer>127</integer>
			<key>Command</key>
			<string></string>
			<key>Cursor Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.86274510622024536</real>
				<key>Green Component</key>
				<real>0.88235294818878174</real>
				<key>Red Component</key>
				<real>0.90196079015731812</real>
			</dict>
			<key>Cursor Guide Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>0.25</real>
				<key>Blue Component</key>
				<real>1</real>
				<key>Color Space</key>
				<string>sRGB</string>
				<key>Green Component</key>
				<real>0.9268307089805603</real>
				<key>Red Component</key>
				<real>0.70213186740875244</real>
			</dict>
			<key>Cursor Text Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.16862745583057404</real>
				<key>Green Component</key>
				<real>0.16862745583057404</real>
				<key>Red Component</key>
				<real>0.16862745583057404</real>
			</dict>
			<key>Custom Command</key>
			<string>No</string>
			<key>Custom Directory</key>
			<string>No</string>
			<key>Default Bookmark</key>
			<string>No</string>
			<key>Description</key>
			<string>Default</string>
			<key>Disable Window Resizing</key>
			<true/>
			<key>Flashing Bell</key>
			<false/>
			<key>Foreground Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.86274510622024536</real>
				<key>Green Component</key>
				<real>0.88235294818878174</real>
				<key>Red Component</key>
				<real>0.90196079015731812</real>
			</dict>
			<key>Guid</key>
			<string>8CBF99F9-1EF1-4486-9538-D92ECA8C0B87</string>
			<key>Horizontal Spacing</key>
			<real>1</real>
			<key>Idle Code</key>
			<integer>0</integer>
			<key>Initial Text</key>
			<string></string>
			<key>Jobs to Ignore</key>
			<array>
				<string>rlogin</string>
				<string>slogin</string>
				<string>telnet</string>
			</array>
			<key>Keyboard Map</key>
			<dict>
				<key>0x7f-0x100000</key>
				<dict>
					<key>Action</key>
					<integer>11</integer>
					<key>Text</key>
					<string>0x15</string>
				</dict>
				<key>0x7f-0x80000</key>
				<dict>
					<key>Action</key>
					<integer>11</integer>
					<key>Text</key>
					<string>0x17</string>
				</dict>
			</dict>
			<key>Link Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>1</real>
				<key>Blue Component</key>
				<real>0.73423302173614502</real>
				<key>Color Space</key>
				<string>sRGB</string>
				<key>Green Component</key>
				<real>0.35916060209274292</real>
				<key>Red Component</key>
				<real>0.0</real>
			</dict>
			<key>Mouse Reporting</key>
			<true/>
			<key>Name</key>
			<string>Test</string>
			<key>Non Ascii Font</key>
			<string>Monaco 12</string>
			<key>Non-ASCII Anti Aliased</key>
			<true/>
			<key>Normal Font</key>
			<string>MesloLGM-RegularForPowerline 14</string>
			<key>Option Key Sends</key>
			<integer>2</integer>
			<key>Prompt Before Closing 2</key>
			<integer>2</integer>
			<key>Right Option Key Sends</key>
			<integer>2</integer>
			<key>Rows</key>
			<integer>30</integer>
			<key>Screen</key>
			<integer>-1</integer>
			<key>Scrollback Lines</key>
			<integer>0</integer>
			<key>Selected Text Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.86274510622024536</real>
				<key>Green Component</key>
				<real>0.88235294818878174</real>
				<key>Red Component</key>
				<real>0.90196079015731812</real>
			</dict>
			<key>Selection Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.3333333432674408</real>
				<key>Green Component</key>
				<real>0.25098040699958801</real>
				<key>Red Component</key>
				<real>0.22745098173618317</real>
			</dict>
			<key>Send Code When Idle</key>
			<false/>
			<key>Shortcut</key>
			<string></string>
			<key>Silence Bell</key>
			<true/>
			<key>Sync Title</key>
			<false/>
			<key>Tags</key>
			<array/>
			<key>Terminal Type</key>
			<string>xterm-256color</string>
			<key>Transparency</key>
			<real>0.0</real>
			<key>Triggers</key>
			<array/>
			<key>Unlimited Scrollback</key>
			<true/>
			<key>Use Bold Font</key>
			<true/>
			<key>Use Bright Bold</key>
			<true/>
			<key>Use Italic Font</key>
			<true/>
			<key>Use Non-ASCII Font</key>
			<false/>
			<key>Vertical Spacing</key>
			<real>1</real>
			<key>Visual Bell</key>
			<true/>
			<key>Window Type</key>
			<integer>0</integer>
			<key>Working Directory</key>
			<string>/Users/wxie</string>
		</dict>
	</array>
	<key>OnlyWhenMoreTabs</key>
	<false/>
	<key>OpenArrangementAtStartup</key>
	<false/>
	<key>OpenNoWindowsAtStartup</key>
	<false/>
	<key>PointerActions</key>
	<dict>
		<key>Button,1,1,,</key>
		<dict>
			<key>Action</key>
			<string>kContextMenuPointerAction</string>
		</dict>
		<key>Button,2,1,,</key>
		<dict>
			<key>Action</key>
			<string>kPasteFromSelectionPointerAction</string>
		</dict>
		<key>Gesture,ThreeFingerSwipeDown,,</key>
		<dict>
			<key>Action</key>
			<string>kPrevWindowPointerAction</string>
		</dict>
		<key>Gesture,ThreeFingerSwipeLeft,,</key>
		<dict>
			<key>Action</key>
			<string>kPrevTabPointerAction</string>
		</dict>
		<key>Gesture,ThreeFingerSwipeRight,,</key>
		<dict>
			<key>Action</key>
			<string>kNextTabPointerAction</string>
		</dict>
		<key>Gesture,ThreeFingerSwipeUp,,</key>
		<dict>
			<key>Action</key>
			<string>kNextWindowPointerAction</string>
		</dict>
	</dict>
	<key>Print In Black And White</key>
	<true/>
	<key>PromptOnQuit</key>
	<false/>
	<key>ShowFullScreenTabBar</key>
	<false/>
	<key>SmartPlacement</key>
	<false/>
	<key>Snippets</key>
	<array>
		<dict>
			<key>guid</key>
			<string>3583848F-5692-4878-9242-A7CD541516FA</string>
			<key>title</key>
			<string>refactor-0524-timing.</string>
			<key>value</key>
			<string>refactor-0524-timing.</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>SoundForEsc</key>
	<false/>
	<key>TabStyle</key>
	<integer>0</integer>
	<key>VisualIndicatorForEsc</key>
	<false/>
	<key>WordCharacters</key>
	<string>/-+\~_.</string>
	<key>findIgnoreCase_iTerm</key>
	<true/>
	<key>findMode_iTerm</key>
	<integer>0</integer>
	<key>findRegex_iTerm</key>
	<false/>
	<key>kCPKSelectionViewPreferredModeKey</key>
	<integer>0</integer>
	<key>kCPKSelectionViewShowHSBTextFieldsKey</key>
	<false/>
	<key>preferIntegratedGPU</key>
	<true/>
</dict>
</plist>
